@charset "UTF-8";

.menu{
    position: sticky;
    top: 0;
    z-index: 999;
    /* background: rgba(0, 0, 0, 0.6); */
    backdrop-filter: blur(10px);
    padding: 10px 0;
}
/* PCでは横並び */
 .hamburger{
    display: none;
    width: 30px;
    cursor: pointer;
}
.hamburger span{
    display: block;
    height: 2px;
    background: white;
    margin: 7px 0;
    transition: 0.3s;
}
/* ×にする様：activeの時だけ変形 */
#hamburger.active span:nth-child(1){
    transform: translateY(9px) rotate(45deg);
}
#hamburger.active span:nth-child(2){
    opacity: 0;
}
#hamburger.active span:nth-child(3){
    transform: translateY(-9px) rotate(-45deg);
}
/* spanにtransform効かせる */
.hamburger span{
    display: block;
    height: 2px;
    background: white;
    margin: 7px 0;
    transition: 0.3s;
}

/* PC */
  .menu-links{
    display: flex;
    gap: 25px;
    justify-content: center;
}  
/* スマホ様 */
 @media (max-width:768px) {
    .hamburger{
        display: block;
    }
    .menu-links{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.9);
        backdrop-filter: blur(10px);

        flex-direction: column;
        text-align: center;
        gap: 20px;
        max-height: 0;
        overflow: hidden;
        transition: 0.4s;
    } 
    .menu-links.active{
        max-height: 300px;
        padding: 20px 0;
    }
} 

body{
    line-height: 1.6;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: 
       radial-gradient(circle at 20% 30%, rgba(255,255,255,0.15),transparent 40%),
       radial-gradient(circle at 80% 70%, rgba(172,128,214,0.4),transparent 50%),
       linear-gradient(180deg,#5232ab,#30206f);
    color: aliceblue; 
    text-align: center;
/* font */
    
  font-family: "DynaPuff", system-ui,sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 3px;
}

h1{
    transition: all 0.3s ease;
    font-size: 60px;
    border: 2px solid white;
    padding: 15px;
    border-radius: 20px;
    display: inline-block;
    margin-bottom: 50px;

    box-shadow:
     0 15px 40px rgba(0, 0, 0, 0.4),
     0 0 30px rgba(172,128,214,0.5),
     0 0 60px rgba(172,128,214,0.3);

    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8)
}

h1:hover{
    text-shadow:
    0 0 12px rgba(255, 255, 255, 1),
    0 0 30px rgba(172,128,214,0.6);
}

h2{
    letter-spacing: 4px;
    font-size: 40px;
    margin-bottom: 15px;
    color: #ffffff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 8px;
    text-shadow:
     0 0 5px #c8b6ff,
     0 0 10px #a88cff,
     0 0 20px #7a5cff,
     0 0 40px rgba(122,92, 255, 0.6);      

}
section p{
    text-shadow:
    0 0 12px rgba(255, 255, 255, 0.4),
    0 0 30px rgba(172,128,214,0.25);
}
.coming-soon{
    letter-spacing: 2px;
    text-shadow:
    0 0 12px rgba(255, 255, 255, 0.9),
    0 0 30px rgba(172,128,214,0.7);
}
/* section{
    margin-top: 50px;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    max-width: 550px;
    margin: 40px auto;
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 
       0 10px 30px rgba(0, 0, 0, 0.2),
       0 10px 30px rgba(0, 0, 0, 0.25),
       0 0 20px rgba(172,128,214,0.2);
}

section{
    transition: all 0.3s ease;
}

section:hover{
    transform: translateY(-6px);

    box-shadow: 
       0 15px 40px rgba(0, 0, 0, 0.4),
       0 0 30px rgba(172,128,214,0.5),
       0 0 60px rgba(172,128,214,0.3);
} */

.menu{
    margin: 30px 0;
}
.menu a{
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
    padding: 8px 4px;
    display: inline-block;
}
.menu a:hover{
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.9),
    0 0 20px rgba(172,128,214,0.6);
}
html{
    scroll-behavior: smooth;
}

.closing-message{
    margin: 70px auto;
    padding: 16px 20px;

    max-width: 600px;

    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.25);

    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blue(6px);

    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;

    text-shadow: 
    0 0 5px rgba(255, 255, 255, 0.6),
    0 0 12px rgba(172,128,214,0.35);

    box-shadow: 
    0 6px 25px rgba(0, 0, 0, 0.25),
}

.footer{
    margin-top: 80px;
    font-size: 14px;
}

.footer{
    margin: 80px auto 40px;
    max-width: 600px;
    padding: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-text{
    margin: 0 0 10px;
    font-size: 14px;
}

.footer-link{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.footer-link:hover{
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.footer-members{
    margin-top: 15px;
}
.footer-members a{
    display: inline-block;
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: all 0.3s ease;
}
.footer-members a:hover{
    transform: translateY(-2px);
    text-shadow: 
    0 0 10px rgba(255, 255, 255, 0.9),
    0 0 20px rgba(172,128,214,0.6);
}
.footer-members a:not(:last-child)::after{
    content: "|";
    margin-left: 12px;
    opacity: 0.6;
}

.footer-official{
    margin-bottom: 20px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-official span{
    margin-right: 0px;
    margin-bottom: 5px;
    font-size: 17px;
    letter-spacing: 2px;

}

.footer-members-tittle{
    margin: 20px 0 10px;
    font-size: 15px;
    letter-spacing: 2px;
    margin-top: 50px;
}
.footer-official a{
    color: white;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
}
.member-note{
    font-size: 0.75rem;
    opacity: 0.7;
    margin-bottom: 15px;
}

.btn-instagram{
    display: inline-block;
    margin-top: 8px;

    padding: 10px 18px;
    border-radius: 999px;
    border: 1px solid rgba(255, 255, 255, 0.4);

    color: white;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;

    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blue(6px);

    box-shadow: 
    0 8px 20px rgba(0, 0, 0, 0.25),
    0 0 14px rgba(172,128,214,0.35);

    transition: all 0.25s ease;
}
.btn-instagram:hover{
    transform: translateY(-2px);

    box-shadow: 
       0 15px 40px rgba(0, 0, 0, 0.4),
       0 0 30px rgba(172,128,214,0.5),
       0 0 60px rgba(172,128,214,0.3);
}

.section-link{
    text-decoration: none;
    color: inherit;
    display: block;
}

/* cast.css */

.cast-menu{
    position: sticky;
    top: 0;
    z-index: 999;
    /* background: rgba(0, 0, 0, 0.6); */
    backdrop-filter: blur(10px);
    padding: 10px 0;

}

.cast-card{
    margin-top: 50px;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    max-width: 550px;
    margin: 40px auto;
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 
       0 10px 30px rgba(0, 0, 0, 0.2),
       0 10px 30px rgba(0, 0, 0, 0.25),
       0 0 20px rgba(172,128,214,0.2);
    transition: all 0.3s ease;
}
.cast-card:hover{
    transform: translateY(-6px);

    box-shadow: 
       0 15px 40px rgba(0, 0, 0, 0.4),
       0 0 30px rgba(172,128,214,0.5),
       0 0 60px rgba(172,128,214,0.3);
}
/* 共通ガラスデザイン */
.glass-box{
    border: 1px solid rgba(170, 150, 255, 0.25);
    backdrop-filter: blur(12px);

    margin-top: 50px;
    background: rgba(145, 120, 220, 0.18);
    padding: 20px 30px;
    border-radius: 10px;
    max-width: 800px;
    margin: 80px auto;
    /* border: 1px solid rgba(255, 255, 255, 0.15); */
    box-shadow: 
       0 20px 50px rgba(0, 0, 0, 0.6),
       0 0px 40px rgba(172, 128, 214, 0.35);
       /* 0 0 20px rgba(172,128,214,0.2); */
    transition: all 0.3s ease;
}
.top-box{
    max-width: 550px;

}
.glass-box:hover{
    transform: translateY(-6px);

    box-shadow: 
       0 15px 40px rgba(0, 0, 0, 0.4),
       0 0 30px rgba(172,128,214,0.5),
       0 0 60px rgba(172,128,214,0.3);
}

.cast-menu a{
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
    padding: 8px 4px;
    display: inline-block;
}
.cast-menu a:hover{
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.9),
    0 0 20px rgba(172,128,214,0.6);
}
.glass-box h2{
    font-size: 32px;
    letter-spacing: 4px;
    margin-bottom: 25px;
    text-align: center;
}
.back-to-top{
    position: fixed;
    top: 30px;
    right: 30px;
    padding: 10px 14px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 1px;
    
    color: white;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);

    transition: all 0.3s ease;
    z-index: 999;
}
.back-to-top:hover{
    transform: translateY(-5px);
    box-shadow: 
      0 10px 25px rgba(0, 0, 0, 0.4),
      0 0 20px rgba(172,128,214,0.6);
}
main{
    padding-top: 80px;
}

header{
    position: fixed;
    top: 0;
    left: o;
    width: 100%;
    height: 80px;
}